#section-posts{
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    

    #main-title{
        color:rgb(184, 13, 13);
        font-size: 2rem;
        text-align: center;
    }

    #main-news{
        // padding-left: 0.5rem;
        margin-top: 1rem;
        width: 100%;
        height: 20%;
        border-style: solid;
        display: flex;
        // flex-wrap: wrap;
        

        .firstNews article{
            width: 20%;

            .imgCard{
                
                width: 100%;
            }  
        }

        .others{
            width: 39%;
            height: 2vh;
            margin: 0.3rem;

            img{
                zoom: 40%;
                height: 30vh;
            }
        }

        .post-infos{
            position: relative;
            top: -5rem;
            background-color: #00000098;
            color: white;
            text-align: center;

            .post-title{
                font-size: 1.4rem;
            }
        }

        .card-post:hover{
            cursor: pointer;
        }

        .imgCard{
            height: 70vh;
        }  
        
    }

    #secoundaryNws{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
               
        .others{    
            margin: 1rem;
            width: 25%;
            // padding: 0.2rem;
            overflow: hidden;
            transition: 0.5s;
            
           :hover{

                img{
                    opacity: 80%;
                }
           }
        }
       
            .others article{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
            .imgCard{
                width: 100%;
                height: 30vh;
                border: solid 1px rgb(80, 77, 77);
            }

            .post-infos{              
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:baseline; 
                margin-top: -22px;
            
                h2{
                    margin-top: 1.5rem;
                    color: #fafafa;                
                }

                spam{
                    margin-top: 0.5rem;
                    color:#607d8b;                             
                }

                p{
                    margin-top: 0.5rem;
                    color: #aaa6a6;            
                }
            }
               
        }
        
    }


}

.linker{
    justify-self: center;
    margin-top: 0.5%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 150ms ease-in-out;
}

.link-refer{
    font-family: 'Bungee', cursive;
    font-size: 0.8em;
    color:rgba(218, 11, 35, 0.662);
}

.others:hover{ 
        border-radius: 2rem;
        -webkit-box-shadow: 0px 0px 32px 0px rgba(21,16,255,0.8); 
        box-shadow: 0px 0px 32px 0px rgba(21,16,255,0.8);
}



